---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Alice Briand" description="À propos de ALice Briand">
	<div class="stack gap-20">
		<main class="wrapper À propos">
			<Hero
				title="À propos"
				tagline="mes experiences et mes études."
			>
				<!-- <img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Études</h2>
				<div class="content">
					<p>
						Actuellement étudiante en deuxieme année de BTS SIO (Service Informatique aux Organisations) avec l'option SLAM (Solutions Logicielles et Applications Métiers) au lycée La Colinière à Nantes,
						j'ai d'abord été en terminal STI2D ( sciences et technologies de l'industrie et du développement durable) avec option SIN (systèmes d'information et numérique) au lycée Camille Claudel.
						Suite à ça j'ai décidé de me dirigé dans le domaine de l'informatique, j'ai donc rejoint le BTS SIO.

					</p>
					<h2 class="section-title">Éxpèrience Profesionnel</h2>
					<p>
						Pour mon éxpèrience profésionnel, j'ai éfectué un stage au pole santé de nantes université ou j'ai pu travailler le language PHP,
						et cela ma également permit de découvrir le travail en entreprise.
					</p>
				</div>
			</section>
			<!--<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>-->
		</main>

	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
